node_modules/
package-lock.json

.env
.env.local
.env.*.local
!.env.example

.wasp/
.prisma/
generated/

dist/
/build

.DS_Store
Thumbs.db
*.log
*.tmp

*.rar
*.zip
*.7z

.idea/
.vscode/*
!.vscode/extensions.json